:root {
  --primary-100: #ffc107;
  --primary-200: #dda400;
  --primary-300: #916400;
  --accent-100: #00bcd4;
  --accent-200: #005e74;
  --text-100: #ffffff;
  --text-200: #9c9c9c;
  --bg-100: #0b0f2b;
  --bg-200: #1a1e3b;
  --bg-300: #333554;
}

@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Instrument Sans", sans-serif;
  color: white;
}

body {
  background-color: var(--bg-100);
  max-width: 100vw;
}

.home {
  display: flex;
  justify-content: center;
}

/* --------------------------------SIDEBAR---------------------------- */

.sidebar {
  background-color: var(--bg-200);
  width: 90px;
  height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  border-radius: 15px;
  left: 20px;
  top: 100px;
}

.home_logo {
  width: 2rem;
  padding-top: 2rem;
  margin-left: 2rem;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
}

.nav_button {
  width: 2rem;
  cursor: pointer;
}

/* --------------------------------HOME BODY---------------------------- */

.home_body {
  min-width: 75%;
  width: 75%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-left: 8rem;
}

/* --------------------------------SEARCH---------------------------- */

.search {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.input_search {
  background: none;
  padding: 1rem;
  border: none;
  width: 100%;
}

.input_search::placeholder {
  font-size: larger;
  letter-spacing: 3px;
}

.input_search:focus {
  outline: none;
  border-bottom: 2px solid var(--bg-300); /* Reemplaza '--button-border-color' con el color deseado */
  border-radius: 5px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-5 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: var(--accent-100);
  background: linear-gradient(
    0deg,
    var(--accent-100) 0%,
    var(--accent-200) 100%
  );
}
.btn-5:hover {
  color: var(--accent-100);
  background: transparent;
  box-shadow: none;
}
.btn-5:before,
.btn-5:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: var(--accent-100);
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
.btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

/* --------------------------------ALL----------------------------  */

.subtitle_type_movie {
  border: 1px solid var(--text-100);
  padding: 0.4rem;
  font-size: 10px;
  border-radius: 5px;
  transform: translate(-3px, -5px);
  letter-spacing: 1.5px;
  font-weight: 700;
}

.subtitle_type_tv {
  border: 1px solid var(--text-100);
  padding: 0.4rem;
  font-size: 10px;
  border-radius: 5px;
  transform: translate(-3px, -5px);
  letter-spacing: 1.5px;
  font-weight: 700;
  color: black;
  background-color: var(--text-100);
}

::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

/* Cambiar el color del pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: var(--accent-200); /* Color del pulgar */
  border-radius: 5px; /* Radio de borde del pulgar */
}

/* Cambiar el color del fondo de la barra de desplazamiento (opcional) */
::-webkit-scrollbar-track {
  background-color: var(--bg-200); /* Color del fondo */
}
/* --------------------------------SLIDER----------------------------  */

.slider_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.slider_container h1 {
  font-weight: 100;
}

.slider_title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.slider_slide {
  width: 100%;
}

.slider_img {
  width: 15.5rem;
  cursor: pointer;
  transform: translate(5px);
  border-radius: 10px;
}

/* --------------------------- GRID ------------------------------*/

.grid_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.grid_title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.preview_grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.5fr 1fr;
  gap: 5rem 2rem;
  grid-template-areas:
    "preview_0 preview_1 preview_2 preview_3"
    "preview_4 preview_4 preview_5 preview_5";
  height: fit-content;
}

.img_preview {
  border-radius: 10px;
  width: 100%;
}

.preview_0 {
  grid-area: preview_0;
  height: 12rem;
}

.preview_1 {
  grid-area: preview_1;
  height: 12rem;
}

.preview_2 {
  grid-area: preview_2;
  height: 12rem;
  object-fit: cover;
}

.preview_2 img {
  object-fit: cover;
  height: 7rem;
}

.preview_3 {
  grid-area: preview_3;
  height: 12rem;
}

.preview_0 img,
.preview_1 img,
.preview_2 img,
.preview_3 img {
  height: 100%;
  object-fit: cover;
}

.preview_4 img,
.preview_5 img {
  height: 18rem;
  object-fit: cover;
}

.preview_4 {
  grid-area: preview_4;
  height: fit-content;
}

.preview_5 {
  grid-area: preview_5;
  height: fit-content;
}

.grid_info {
  display: flex;
  flex-direction: column;
  color: var(--text-100);
}

.grid_info h6 {
  font-size: 18px;
  font-weight: 700;
  color: #fffff0;
}

.grid_dates {
  display: flex;
  gap: 0.5rem;
}

/* --------------------------- SEARCHPAGE ------------------------------*/

.search_body {
  display: flex;
  flex-direction: column;
}

.grid_search {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual tamaño */
  grid-gap: 20px;
  margin-top: 2rem;
}

.grid_search_preview {
  /* background-color: red; */
  width: min-content;
  overflow: hidden;
}

.img_preview_search {
  width: 20rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 10px;
}

.grid_search_dates {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.grid_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

/* -----------------------------------Genre Page MOVIE------------------------------ */

.grid_genre_movie {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 15px 15px;
  grid-auto-flow: row;
  /* place-items: center; */
}

.genre_0_movie {
  grid-area: 1 / 1 / 2 / 2;
}

.genre_1_movie {
  grid-area: 1 / 2 / 2 / 3;
}

.genre_2_movie {
  grid-area: 1 / 3 / 2 / 4;
}

.genre_3_movie {
  grid-area: 1 / 4 / 2 / 5;
}

.genre_4_movie {
  grid-area: 1 / 5 / 2 / 6;
}

.genre_5_movie {
  grid-area: 1 / 6 / 2 / 7;
}

.genre_6_movie {
  grid-area: 2 / 1 / 3 / 2;
}

.genre_7_movie {
  grid-area: 2 / 2 / 3 / 3;
}

.genre_8_movie {
  grid-area: 2 / 3 / 3 / 4;
}

.genre_9_movie {
  grid-area: 2 / 4 / 3 / 5;
}

.genre_10_movie {
  grid-area: 2 / 5 / 3 / 6;
}

.genre_11_movie {
  grid-area: 2 / 6 / 3 / 7;
}

.genre_12_movie {
  grid-area: 3 / 1 / 4 / 2;
}

.genre_13_movie {
  grid-area: 3 / 2 / 4 / 3;
}

.genre_14_movie {
  grid-area: 3 / 3 / 4 / 4;
}

.genre_15_movie {
  grid-area: 3 / 4 / 4 / 5;
}

.genre_16_movie {
  grid-area: 3 / 5 / 4 / 6;
}

.genre_17_movie {
  grid-area: 3 / 6 / 4 / 7;
}

.genre_all_movie {
  background-color: var(--accent-200);
  /* text-align: center; */
  /* height: 10rem; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 15rem; */
  height: 10rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 900;
}

.genre_18_movie {
  grid-column-start: 1;
  grid-column-end: 7;
}

.genre_1_movie,
.genre_3_movie,
.genre_5_movie,
.genre_7_movie,
.genre_9_movie,
.genre_11_movie,
.genre_13_movie,
.genre_15_movie,
.genre_17_movie {
  background-color: var(--bg-200);
}

/* -----------------------------------------GENRE PAGE TV------------------------------ */

.genre_all_tv {
  background-color: var(--bg-200);
  /* text-align: center; */
  /* height: 10rem; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 15rem; */
  height: 10rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 900;
}

.grid_genre_tv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
}

.genre_0_tv {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #916400;
}
.genre_1_tv {
  grid-area: 1 / 2 / 2 / 3;
}
.genre_2_tv {
  grid-area: 1 / 3 / 2 / 4;
  background-color: #916400;
}
.genre_3_tv {
  grid-area: 1 / 4 / 2 / 5;
}
.genre_4_tv {
  grid-area: 1 / 5 / 2 / 6;
  background-color: #916400;
}
.genre_5_tv {
  grid-area: 1 / 6 / 2 / 7;
}
.genre_6_tv {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #916400;
}
.genre_7_tv {
  grid-area: 2 / 2 / 3 / 3;
}
.genre_8_tv {
  grid-area: 2 / 3 / 3 / 4;
  background-color: #916400;
}
.genre_9_tv {
  grid-area: 2 / 4 / 3 / 5;
}
.genre_10_tv {
  grid-area: 2 / 5 / 3 / 6;
  background-color: #916400;
}
.genre_11_tv {
  grid-area: 2 / 6 / 3 / 7;
}

.genre_12_tv {
  grid-area: 3 / 1 / 4 / span 1.5;
  background-color: #916400;
}
.genre_13_tv {
  grid-area: 3 / 2.5 / 4 / 4;
}
.genre_14_tv {
  grid-area: 3 / 4 / 4 / 5.5;
  background-color: #916400;
}
.genre_15_tv {
  grid-area: 3 / 5.5 / 4 / 7;
}

/* -----------------------------------FILMBYID PAGE------------------------- */

.film {
  display: flex;
  gap: 5rem;
  margin-left: 6rem;
}

.film img {
  width: 25rem;
  height: 35rem;
  border-radius: 15px;
}

.film_info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.film_average {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.film_dates {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 30rem;
}

.film_date {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  gap: 0.5rem;
  letter-spacing: 1px;
}

.date_title {
  color: var(--text-200);
}

.film_text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40rem;
}

.film_genre {
  display: flex;
  gap: 1rem;
}

.film_cast {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.film_person {
  border: 1px solid var(--text-200);
  display: inline-block;
  line-height: 0.8; /* Ajusta este valor según tus necesidades */
  border-radius: 5px;
  font-size: 12px;
  letter-spacing: 0.5px;
  padding: 5px;
  margin: 2px;
}


/* -----------------------------Genre film search---------------------- */

.genrefilm_grid{
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  gap: 10px 10px; 
}

.genrefilm_preview{
  /* background-color: red; */
  width: min-content;
}

.genrefilm_preview img{
  width: 15rem;
  border-radius: 10px;
}

/* ------------------------------------------------------------------- */

@media screen and (max-width: 1060px) {
  .home_body {
    width: 90vw;
    margin: auto;
  }

  .home {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

  .sidebar {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 90vw;
    height: 5rem;
    top: 20px;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    transform: translate(-1rem);
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: red; */
    width: 100%;
  }

  .home_logo {
    margin: 0 0 0 2rem;
    padding: 0;
  }
}

@media screen and (max-width: 880px) {
  .slider_img {
    width: 10rem;
  }

  .preview_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5rem 2rem;
    grid-auto-flow: row;
    grid-template-areas:
      "preview_0 preview_1 preview_2"
      "preview_3 preview_4 preview_5";
  }

  .preview_0 {
    grid-area: preview_0;
  }

  .preview_1 {
    grid-area: preview_1;
  }

  .preview_2 {
    grid-area: preview_2;
  }

  .preview_3 {
    grid-area: preview_3;
  }

  .preview_4 {
    grid-area: preview_4;
  }

  .preview_5 {
    grid-area: preview_5;
  }

  .preview_0 img,
  .preview_1 img,
  .preview_2 img,
  .preview_3 img,
  .preview_4 img,
  .preview_5 img {
    height: 10rem;
  }
}
